{{> header}}
<main>
    <h1>Login</h1>
    <p class="form-info">Don't have account?
        <a href="/register">Register now</a> and fix that!
    </p>
    <form action="/login" method="post">
        <div>
            <input type="email" placeholder="Email..."id="email">
        </div>

        <div>
            <input type="password" placeholder="Password..." id="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
</main>.
{{>footer}}